certifications-section {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.certifications-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 43rem;
    margin-left: 46.8rem;
    margin-bottom: 100px;
    color: #ffffff;
}

.certifications-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    position: relative;
    left: 34rem;
}

.certification {
    background-color: #ffffffd5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.certification-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #596169;
}

.certification-description {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

.certification-link {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.certification-link:hover {
    color: #0056b3;
}

@media only screen and (max-width: 1618px){
    .certifications-title {
        position: relative;
        left: -8.4rem;
    }
    .certifications-container {
        left: 25rem;
    }
}

@media only screen and (max-width: 1556px){
    .certifications-title {
        position: relative;
        left: -10.5rem;
    }
    .certifications-container {
        left: 23.5rem;
    }
}

@media only screen and (max-width: 1509px){
    .certifications-title {
        position: relative;
        left: -11.5rem;
    }
    .certifications-container {
        left: 22rem;
    }
}

@media only screen and (max-width: 1461px){
    .certifications-title {
        position: relative;
        left: -13.5rem;
    }
    .certifications-container {
        left: 20.3rem;
    }
}



@media only screen and (max-width: 1440px){
    .certifications-title {
        position: relative;
        left: -14rem;
    }
    .certifications-container {
        left: 20rem;
    }
}

@media only screen and (max-width: 1384px){
    .certifications-title {
        position: relative;
        left: -15.2rem;
    }
    .certifications-container {
        left: 18.5rem;
    }
}



@media only screen and (max-width: 1309px){
    .certifications-title {
        position: relative;
        left: -17.6rem;
    }
    .certifications-container {
        left: 16rem;
    }
}

@media only screen and (max-width: 1280px){
    .certifications-title {
        position: relative;
        left: -19.2rem;
    }
    .certifications-container {
        left: 14.8rem; 
    }
}


@media only screen and (max-width: 1254px){
    .certifications-title {
        position: relative;
        left: -19rem;
    }
    .certifications-container {
        left: 15rem;
    }
}


@media only screen and (max-width: 1200px) {
    .certifications-title {
        position: relative;
        left: -21rem;
    }

    .certifications-container {
        left: 12.5rem;
    }
} 
@media only screen and (max-width: 1199px){
    .certifications-title {
    left: -21rem;
    }
}

@media only screen and (max-width: 1000px){
    .certifications-title {
        left: -27rem;
    }
    .certifications-container {
        left: 7rem;
    }
}

@media only screen and (max-width: 992px) {
    .certifications-title {
        left: -27rem;
    }
    .certifications-container {
        left: 6.5rem;
    }
} 

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .certifications-title {
        left: -34rem;
    }
    .certifications-container {
        flex: 1 1 calc(75% - 20px);  
        max-width: calc(75% - 20px);
    }
}

@media only screen and (max-width: 991px) {
    .certifications-title {
        left: -27rem;
    }
    .certifications-container {
        left: 9rem;
    }
}

@media only screen and (max-width: 768px){
    .certifications-title {
        left: -34rem;
    }
    .certifications-container {
        left: 7.1rem;
    }
}

@media only screen and (max-width: 720px){
    .certifications-title {
        left: -36.4rem;
    }
    .certifications-container {
        left: 6.4em;
    }
}


@media only screen and (min-width: 576px) and (max-width: 767px){
    .certifications-container {
        flex: 1 1 calc(75% - 20px);  
        max-width: calc(75% - 20px);
    }
}

@media only screen and (max-width: 576px){
    .certifications-title {
        left: -40rem;
}
.certifications-container {
    left: 5.8rem;
}
}

@media only screen and (max-width: 560px){
    .certifications-title {
        left: -41rem;
    }
    .certifications-container {
        left: 5.5rem;
        flex: 1 1 calc(75% - 20px);  
        max-width: calc(75% - 20px);
    }
}


@media only screen and (max-width: 530px){
    .certifications-title {
        font-size: 3.5rem;
        left: -42.3rem;
    }
    .certifications-container {
        left: 5rem;
        flex: 1 1 calc(75% - 20px);  
        max-width: calc(75% - 20px);
    }
}

@media only screen and (max-width: 500px){
    .certifications-title {
        font-size: 3rem;
        left: -41.5rem;
    }
    .certifications-container {
        left: 4.6rem;
        flex: 1 1 calc(75% - 20px);  
        max-width: calc(75% - 20px);
    }
}




@media only screen and (max-width: 490px){
    .certifications-title {
        font-size: 3rem;
        left: -41.9rem;
    }
    .certifications-container {
        left: 4.8rem;
        flex: 1 1 calc(74% - 20px);  
        max-width: calc(73% - 20px);
    }
}

@media only screen and (max-width: 480px){
    .certifications-title {
        font-size: 3rem;
        left: -42.2rem;
    }
    .certifications-container {
        left: 4.6rem;
        flex: 1 1 calc(74% - 20px);  
        max-width: calc(73% - 20px);
    }
}

@media only screen and (max-width: 478px){
    .certifications-title {
        font-size: 3rem;
        left: -42.2rem;
    }
    .certifications-container {
        left: 4.6rem;
    }
}

@media only screen and (max-width: 474px){
    .certifications-title {
        font-size: 3rem;
        left: -42.4rem;
    }
    .certifications-container {
        left: 4.6rem;
    }
}


@media only screen and (max-width: 470px){
    .certifications-title {
        font-size: 3rem;
        left: -42.6rem;
    }
    .certifications-container {
        left: 4.6rem;
    }
}

@media only screen and (max-width: 460px){
    .certifications-title {
        font-size: 3rem;
        left: -42.7rem;
    }
    .certifications-container {
        left: 4.6rem;
        top: -3rem;
    }
}



@media only screen and (max-width: 430px){
    .certifications-title {
        font-size: 2.8rem;
        left: -43rem;
    }
    .certifications-container {
        left: 4.4rem;
    }
}

@media only screen and (max-width: 420px){
    .certifications-title {
        font-size: 2.8rem;
        left: -43.3rem;
    }
    .certifications-container {
        left: 4.3rem;
    }
}

@media only screen and (max-width: 412px){
    .certifications-title {
        font-size: 2.8rem;
        left: -43.5rem;
    }
    .certifications-container {
        left: 4.2rem;
    }
}

@media only screen and (max-width: 400px){
    .certifications-title {
        font-size: 2.8rem;
        left: -43.9rem;
    }
    .certifications-container {
        left: 4.2rem;
    }
}


@media only screen and (max-width: 390px){
    .certifications-title {
        left: -44.2rem;
    }
    .certifications-container {
        left: 4rem;
    }
}

@media only screen and (max-width: 370px){
    .certifications-title {
        font-size: 2.3rem;
        left: -43.2rem;
    }
    .certifications-container {
        left: 3.6rem;
    }
}

@media only screen and (max-width: 350px){
    .certifications-title {
        left: -43.9rem;
    }
    .certifications-container {
        left: 3.5rem;
}
}

@media only screen and (max-width: 320px){
    .certifications-title {
        font-size: 2.1rem;
        left: -44.2rem;
    }
    .certifications-container {
        left: 3.3rem;
    }
}