.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


.footer {
    text-align: center;
    padding: 40px 60px 40px 40px;
    background-color: #383838cc; 
    color: #fff; 
    font-size: 1.1rem;
    width: 100%; 
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1); 
    position: relative;
    top: 51rem;
    box-sizing: border-box; 
}


.react-text {
    color: #61dafb; 
    font-weight: bold;
}

@media only screen and (max-width: 1618px){
    .footer {
        padding: 40px 20px 40px 0px;
        font-size: 1.2rem; 
    }
}

@media only screen and (max-width: 1309px){
    .footer {
        padding: 40px 20px 40px 0px;
        font-size: 1.2rem; 
    }
}

@media only screen and (max-width: 1280px) {
    .footer { 
        font-size: 1.2rem;
        padding: 20px 20px 20px 0px;
    }
}

@media only screen and (max-width: 1200px) {
    .footer {
        width: 100%; 
        padding: 22px 20px 20px 0px;
    }
}

@media only screen and (max-width: 992px) {
    .footer {
        width: 100%;
    }
}

@media only screen and (max-width:
576px){
    .footer {
        font-size: 1.2rem; 
    }
    .footer a {
        font-size: 1.2rem; 
    }
}

@media only screen and (max-width:
530px){
    .footer {
        font-size: 1.2rem; 
    }
    .footer a {
        font-size: 1.2rem; 
    }
}

@media only screen and (max-width:
500px){
    .footer {
        font-size: 1.2rem; 
    }
    .footer a {
        font-size: 1.2rem; 
    }
}

@media only screen and (min-width: 460px) and (max-width: 490px) {
    .footer {
        font-size: 1rem; 
                padding: 22px 20px 20px 20px;
    }
}

@media only screen and (max-width: 430px){
    .footer {
        font-size: 0.9rem; 
                padding: 22px 20px 20px 20px;
    }
}

@media only screen and (max-width: 400px) {
    .footer {
        font-size: 1rem; 
    }
    .footer a {
        font-size: 1rem; 
    }
}

@media only screen and (max-width: 390px){
    .footer {
        font-size: 0.9rem; 
    }
    .footer a {
        font-size: 1rem; 
    }
}

@media only screen and (max-width: 370px) {
    .footer {
        font-size: 0.8rem; 
    }
    .footer a {
        font-size: 1rem; 
    }
}



