.projects-header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 2rem; 
}

.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    margin: 0 auto;
    max-width: 1200px; 
}

.project {
    background-color: #ffffffde;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 14px;  
    margin-left: 0.1rem;
    margin-top: 5rem; 
    cursor: pointer;
    box-sizing: border-box;
    flex: 1 1 calc(31% - 20px); 
    max-width: calc(31% - 20px); 
    text-align: center;
}

.project-title {
    font-size: 1.5em;
    color: #333;
}

.project-description {
    font-size: 1rem;
    color: #666;
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.project-link:hover {
    text-decoration: underline;
}

.project-image {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
    margin-bottom: 10px; 
}

.projects-title {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin-left: 0.3rem; 
    margin-top: 20rem;
    color: #ffffff;
}

.projects-subtitle {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    margin-left: 0.3rem; 
    color: #ffffff;
    align-items: center;
}

@media only screen and (max-width: 1618px){
    .projects-title {
        font-size: 3.5rem;
        margin-left: 0.3rem; 
    }
    .projects-subtitle {
        font-size: 1.3rem;
        margin-left: 0.3rem; 
    }
}
@media only screen and (max-width: 1556px){
    .projects-title {
        font-size: 3.5rem;
        margin-left: 0.3rem; 
    }
    .projects-subtitle {
        font-size: 1.3rem;
        margin-left: 0.3rem; 
    }
}

@media only screen and (max-width: 1509px){
    .projects-title {
        font-size: 3.5rem;
        margin-left: 0.3rem; 
        top: 12rem;
    }
    .projects-subtitle {
        font-size: 1.3rem;
        margin-left: 0.3rem; 
        top: 11rem;
    }
}

@media only screen and (max-width: 1461px){
    .projects-title {
        font-size: 3.5rem;
        margin-left: 0.3rem; 
        top: 12rem;
    }
    .projects-subtitle {
        font-size: 1.3rem;
        margin-left: 0.3rem; 
        top: 11rem;
    }
}

@media only screen and (max-width: 1440px){
    .projects-title {
        font-size: 3.5rem;
        margin-left: 0.3rem; 
        top: 12rem;
    }
    .projects-subtitle {
        font-size: 1.3rem;
        margin-left: 0.3rem; 
        top: 11rem;
    }
}

@media only screen and (max-width: 1384px){
    .projects-title {
        font-size: 3.5rem;
        margin-left: 0.3rem; 
        top: 12rem;
    }
    .projects-subtitle {
        font-size: 1.3rem;
        margin-left: 0.3rem; 
        top: 11rem;
    }
}

@media only screen and (max-width: 1309px){
    .projects-title {
        font-size: 3.5rem;
        margin-left: 0.3rem; 
        top: 12rem;
    }
    .projects-subtitle {
        font-size: 1.3rem;
        margin-left: 0.3rem; 
        top: 11rem;
    }
}


@media only screen and (max-width: 1280px){
    .projects-title {
        font-size: 3.5rem;
        margin-left: 0.3rem; 
        top: 12rem;
    }
    .projects-subtitle {
        font-size: 1.3rem;
        margin-left: 0.3rem; 
        top: 11rem;
    }
    .project {
    left: 0rem;
}
}


@media only screen and (max-width: 1254px){
    .project {
        left: 0rem;
}
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 100%; 
        flex-direction: column;
        align-items: center; 
    }
    .projects-title {
        margin-left: 1rem;
    }
    .projects-subtitle {
        margin-left: 1rem;
    }
    .project {
        left: 0.2rem;
        top: 3rem;
    }
}

@media only screen and (max-width: 1000px){
        .projects-title {
            margin-left: 1.7rem;
        }
        .projects-subtitle {
            margin-left: 1.7rem;
        }
    }


@media only screen and (min-width: 992px) and (max-width: 1199px){
    .projects-title {
        align-items: center;
    }
    .projects-subtitle {
        align-items: center;
    }
    .project {
        align-items: center;
    }
}

@media only screen and (max-width: 992px){
    .projects-title {
        margin-left: 2rem;
    }
    .projects-subtitle {
        margin-left: 2rem;
    }
    .project {
        margin-left: 2rem;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .projects-title {
        font-size: 3.5rem;
        left: 0.3rem; 
        top: 12rem;
    }
    .projects-subtitle {
        font-size: 1.5rem;
        left: 0.3rem; 
        top: 11rem;
    }
    .project {
        left: 0.2rem;
        top: 16rem;
    }
    .project {
        flex: 1 1 calc(45% - 20px); 
        max-width: calc(45% - 20px); 
        padding: 20px;
        margin-top: 3rem; 
        font-size: 1.2rem;
}
.project-description {
    font-size: 1.1rem; 
}
}

@media only screen and (max-width: 720px){
    .projects-title {
        font-size: 3.5rem;
        margin-left: 1rem;
    }
    .projects-subtitle {
        font-size: 1.3rem;
        margin-left: 1rem;
    }
    .project {
        margin-left: 0.2rem;
    }
}


@media only screen and (min-width: 576px) and (max-width: 767px){
    .project {
        flex: 1 1 calc(45% - 20px); 
        max-width: calc(45% - 20px); 
        padding: 20px; 
        margin-top: 3rem; 
        font-size: 1.2rem;
}
}

@media only screen and (max-width: 576px){
    .projects-title {
        font-size: 3.5rem;
        left: 0.3rem; 
        top: 12rem;
    }
    .projects-subtitle {
        font-size: 1.3rem;
        left: 0.3rem; 
        top: 11rem;
    }
    .project {
        left: 0.2rem;
        top: 16rem;
    }
    .project {
        flex: 1 1 calc(60% - 20px); 
        max-width: calc(60% - 20px); 
        padding: 20px; 
        margin-top: 3rem; 
}
}

@media only screen and (max-width: 530px){
    .projects-title {
        font-size: 3.5rem;
        margin-left: 1rem; 
        top: 12rem;
    }
    .projects-subtitle {
        font-size: 1.3rem;
        margin-left: 1rem; 
        top: 11rem;
    }
    .project {
        margin-left: 1rem; 
        flex: 1 1 calc(70% - 20px); 
        max-width: calc(70% - 20px); 
}
}

@media only screen and (max-width: 500px){
.projects-title {
        font-size: 3.2rem;
        margin-left: 0rem
    }
    .projects-subtitle {
        font-size: 1.2rem;
        margin-left: 0rem 
    }
        .container {
        gap: 16rem;
    }
    .project {
        margin-left: 0rem;
        margin-top: 10rem;
        flex: 1 1 calc(80% - 20px); 
        max-width: calc(80% - 20px); 
}
}

@media only screen and (max-width: 490px){
    .projects-title {
        font-size: 3.2rem;
        margin-left: 0rem
    }
    .projects-subtitle {
        font-size: 1.2rem;
        margin-left: 0rem 
    }
        .container {
        gap: 2rem;
    }
    .project {
        margin-left: 0rem;
        margin-top: 3rem;
        flex: 1 1 calc(80% - 20px); 
        max-width: calc(80% - 20px); 
}
}
@media only screen and (max-width: 460px){
    .projects-title {
        font-size: 3.2rem;
        margin-left: 0rem
    }
    .projects-subtitle {
        font-size: 1.2rem;
        margin-left: 0rem 
    }
        .container {
        gap: 2rem;
    }
    .project {
        margin-left: 0rem;
        margin-top: 1rem;
        flex: 1 1 calc(80% - 20px); 
        max-width: calc(80% - 20px); 
}
}

@media only screen and (max-width: 430px){
    .projects-title {
        font-size: 3rem;
        margin-left: 0.5rem
    }
    .projects-subtitle {
        font-size: 1.1rem;
        margin-left: 0.3rem 
    }
    .project {
        margin-left: 0rem; 
}
}


@media only screen and (max-width: 390px){
    .container {
        gap: 2rem;
    }
    .projects-title {
        font-size: 2.8rem;
        margin-left: -0.2rem
    }

    .projects-subtitle {
        font-size: 1rem;
        margin-left: -0.4rem 
    }

    .project {
        flex: 1 1 calc(90% - 20px);
        max-width: calc(90% - 20px);
        padding: 20px;
        margin-left: 0rem;
        margin-top: 2rem;
}
}

@media only screen and (max-width: 370px){
    .container {
        gap: 2rem;
    }
    .projects-title {
        font-size: 2.8rem;
        margin-left: -0.2rem
    }

    .projects-subtitle {
        font-size: 1rem;
        margin-left: -0.4rem 
    }

    .project {
        flex: 1 1 calc(90% - 20px);
        max-width: calc(90% - 20px);
        padding: 20px;
        margin-left: 0rem;
        margin-top: 1rem;
}
}

@media only screen and (max-width: 350px){
    .container {
        gap: 2rem;
    }
    .projects-title {
        font-size: 2.8rem;
        margin-left: -0.2rem
    }

    .projects-subtitle {
        font-size: 1rem;
        margin-left: 0rem 
    }

    .project {
        flex: 1 1 calc(90% - 20px);
        max-width: calc(90% - 20px);
        padding: 20px;
        margin-left: -0.3rem;
        margin-top: 2rem;
}
}


@media only screen and (max-width: 320px){
    .container {
        gap: 2rem;
    }
    .projects-title {
        font-size: 2.5rem;
        margin-left: -0.3rem
    }

    .projects-subtitle {
        font-size: 1rem;
        margin-left: 0rem 
    }

    .project {
        flex: 1 1 calc(90% - 20px);
        max-width: calc(90% - 20px);
        padding: 20px;
        margin-left: -0.3rem;
        margin-top: 2rem;
}
}