.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 69vh;
    width: 32rem;
    background-color: #ffffffd5;
    margin-left: 4rem;
    margin-top: 10rem;
    text-align: center;
    border-radius: 3rem;
    overflow: hidden;
}

.hero-section h1 {
    font-size: 3rem;
    color: #333;
    margin: 0;
}

.hero-section h2 {
    font-size: 1.5rem;
    color: #000000;
    margin-top: 10px;
}

.hero-section p {
    font-size: 1.4rem;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 4rem;
    text-align: center; 
    max-width: 500px; 
    line-height: 1.5; 
}

.welcome-text {
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: absolute;
    left: 49rem;
    top: 20rem;
}

.welcome-text2 {
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: absolute;
    left: 53.8rem;
    top: 28rem;
}

@media only screen and (max-width: 1618px){
    .hero-section {
        margin-left: 4rem;
        width: 30rem;
    }
    .welcome-text {
        font-size: 4.5rem; 
        left: 43rem;
    }
    .welcome-text2 {
        font-size: 1.8rem;
        left: 45.4rem;
}
}

@media only screen and (max-width: 1556px){
    .welcome-text {
        font-size: 4.5rem; 
        left: 40rem;
    }
    .welcome-text2 {
        font-size: 1.8rem;
        left: 42.5rem;
}
}

@media only screen and (max-width: 1509px){
    .welcome-text {
        font-size: 4.5rem; 
        left: 37rem;
    }
    .welcome-text2 {
        font-size: 1.8rem;
        left: 40rem;
}
}

@media only screen and (max-width: 1461px){
    .hero-section {
        margin-left: 4rem;
        width: 28rem;
    }
    .welcome-text {
        font-size: 4.5rem; 
        left: 34rem;
    }
    .welcome-text2 {
        font-size: 1.8rem;
        left: 36.5rem;
}
}

@media only screen and (max-width: 1440px){
    .welcome-text {
        font-size: 4.2rem; 
        left: 36rem;
        top: 19rem;
    }
    .welcome-text2 {
        font-size: 1.7rem;
        left: 38.4rem;
        top: 26rem;
}
}

@media only screen and (max-width: 1384px){
    .hero-section {
        margin-left: 4rem;
        width: 27rem;
    }
    .welcome-text {
        font-size: 4rem; 
        left: 33.5rem;
        top: 19rem;
    }
    .welcome-text2 {
        font-size: 1.6rem;
        left: 36rem;
        top: 26rem;
}
}

@media only screen and (max-width: 1309px){
    .hero-section {
        margin-left: 4rem;
        width: 26rem;
    }
    .welcome-text {
        font-size: 3.8rem; 
        left: 32.5rem;
        top: 19rem;
    }
    .welcome-text2 {
        font-size: 1.5rem;
        left: 34.7rem;
        top: 26rem;
}
}

@media only screen and (max-width: 1254px){
    .hero-section {
        margin-left: 4rem;
        width: 25rem;
    }
    .welcome-text {
        font-size: 3.5rem; 
        left: 32rem;
        top: 19rem;
    }
    .welcome-text2 {
        font-size: 1.4rem;
        left: 33.8rem;
        top: 26rem;
}
}


/* Pantallas grandes y medianas (max-width: 1200px) */
@media only screen and (max-width: 1200px) {
    .welcome-text {
        font-size: 3.1rem; 
        left: 34rem;
        top: 18rem;
    }
    
    .welcome-text2 {
        font-size: 1.3rem;
        left: 34.7rem;
        top: 23.5rem;
    }
}

/* Laptops y tablets grandes (992px - 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .welcome-text {
        font-size: 3.1rem; 
        left: 34rem;
    }
    .welcome-text2 {
        font-size: 1.3rem;
        left: 34.7rem;
    }
}

@media only screen and (max-width: 1000px){
    .hero-section {
        margin-left: 5rem;
        width: 25rem;
    }
    .welcome-text {
        font-size: 2.3rem; 
        left: 32.5rem;
    }
    
    .welcome-text2 {
        font-size: 1rem;
        left: 32.7rem;
    }
}


@media only screen and (max-width: 992px) {
    .hero-section {
        margin-left: 5rem;
        width: 20rem;
    }

    .hero-section p {
        font-size: 1.1rem;
        margin-top: 2rem;
        margin-left: -0.1rem; ;
    }

    .hero-section h1 {
        font-size: 2.5rem; 
    
    }
    .hero-section p{
        font-size: 1.1rem; 
    }
    .welcome-text {
        font-size: 2.5rem; 
        position: absolute;
        left: 28.5rem;
        top: 18rem;
    }

    .welcome-text2 {
        position: absolute;
        font-size: 1.1rem;
        left: 28.5rem;
        top: 23rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-section {
        margin-left: 5rem;
        width: 20rem;
    }
    .welcome-text {
        font-size: 2.5rem; 
        left: 28rem;
        top: 18rem;
}
    .welcome-text2 {
        font-size: 1.1rem;
        left: 28rem;
        top: 23rem;
    }
}

@media only screen and (max-width: 768px) {
    .hero-section {
        margin-left: 3rem;
        width: 20rem;
    }
    .welcome-text {
        font-size: 2.5rem; 
        left: 23rem;
        top: 19rem;
        text-align: center;
    }
    .welcome-text2 {
        font-size: 1.2rem;
        left: 22.5rem;
        top: 28rem;
        text-align: center;
    }
}

@media only screen and (max-width: 720px){
    .hero-section {
        margin-left: 2.5rem;
        width: 20rem;
    }
    .welcome-text {
        font-size: 2.5rem; 
        left: 22.4rem;
        top: 19rem;
    }
    .welcome-text2 {
        font-size: 1.1rem;
        left: 22rem;
        top: 28rem;
    }
}


@media only screen and (max-width: 576px) {
    .hero-section {
        margin-left: 1.6rem;
        width: 16rem;
        height: 50vh;
    }
    .hero-section p {
        font-size: 0.96rem;
    }
    .hero-section h1 {
        font-size: 1.8rem; 
    }
    .hero-section p{
        font-size: 0.9rem; 
    }
    .welcome-text {
        font-size: 2rem; 
        left: 18rem;
        top: 16rem;
    }
    .welcome-text2 {
        font-size: 1rem;
        left: 18rem;
        top: 24rem;
    }
}

@media only screen and (max-width: 530px){
    .hero-section {
        margin-left: 1.2rem;
        width: 16rem;
        height: 50vh;
    }
    .welcome-text {
        font-size: 2rem; 
        left: 17rem;
        top: 16rem;
    }
    .welcome-text2 {
        font-size: 1rem;
        left: 17rem;
        top: 24rem;
    }
}

@media only screen and (max-width: 490px){
    .hero-section {
        margin-left: 6.4rem;
        margin-top: 26rem;
        width: 18rem;
        height: 40vh;
    }
    
    .welcome-text {
        font-size: 3rem; 
        left: 1rem;
        top: 11rem;
    }
    .welcome-text2 {
        font-size: 1.2rem;
        left: 0.1rem;
        top: 20rem;
    }
}

@media only screen and (max-width: 474px){
    .hero-section {
        margin-left: 5.8rem;
    }
    
    .hero-section p {
        font-size: 1rem;
    }

    .welcome-text {
        font-size: 3rem; 
        left: 0.5rem;
    }
    .welcome-text2 {
        font-size: 1.1rem;
        left: 0rem;

    }
}

@media only screen and (max-width: 470px){
    .hero-section {
        margin-left: 5.8rem;
    }
    
    .hero-section p {
        font-size: 1rem;
    }

    .welcome-text {
        font-size: 3rem; 
        left: 0.5rem;
    }
    .welcome-text2 {
        font-size: 1.1rem;
        left: 0rem;

    }
}

@media only screen and (max-width: 460px){
    .hero-section {
        margin-left: 5.4rem;
    }
}

@media only screen and (max-width: 430px){
    .hero-section {
        margin-left: 4.5rem;
    }
    .welcome-text {
        left: 0.4rem;
    }
}

@media only screen and (max-width: 420px){
    .hero-section {
        margin-left: 4.2rem;
    }
    .welcome-text {
        left: 0.2rem;
    }
}


@media only screen and (max-width: 412px){
    .hero-section {
        margin-left: 3.9rem;
    }
    
}


@media only screen and (max-width: 400px){
    .hero-section {
        margin-left: 3.6rem;
    }
    .welcome-text {
        font-size: 2.8rem; 
        left: 0.7rem;
    }
    .welcome-text2 {
        font-size: 1.2rem;
        left: 0.2rem;
    }
}

@media only screen and (max-width: 390px){
    .hero-section {
        margin-left: 3.2rem;
    }
    .welcome-text {
        font-size: 2.7rem; 
        left: 0rem;
    }
    .welcome-text2 {
        font-size: 1rem;
        left: 0rem;
    }
}

@media only screen and (max-width: 370px){
    .hero-section {
        margin-left: 2.7rem;
    }
    .welcome-text {
        font-size: 2.5rem; 
        left: 0rem;
    }
    .welcome-text2 {
        font-size: 0.9rem;
        left: 0rem;
    }
}

@media only screen and (max-width: 350px){
    .hero-section {
        margin-left: 2rem;
    }
    .welcome-text {
        font-size: 2.5rem; 
        left: 0rem;
    }
    .welcome-text2 {
        font-size: 1rem;
        left: 0rem;
    }
    }



@media only screen and (max-width: 320px){
    .hero-section {
        margin-left: 1rem;
    }
    .welcome-text {
        font-size: 2.5rem; 
        left: 0rem;
    }
    .welcome-text2 {
        font-size: 1rem;
        left: 0rem;
    }
}